/ - breadcrumb :new_employee



.card.card-employees-new.mx-auto
  .card-body.py-5
    .row
      .col-sm-10.mx-auto
        = link_to new_employment_contract_path do
          %i.fa.fa-times.text-muted.float-right.close-card
        .text-center
          = image_tag('logo', class: 'contract-logo mb-2')
          %h3.font-weight-light.mb-3
            Create Employee
          %p.text-muted The employee's contact information is necessary to generate a letter of offer of employment
        = render 'layouts/flash'
        = render 'form' 


