= render :layout => 'form' do |f|     
  = f.input :bonus_structure, hint: "Bonus structure description. Not required."
  = f.input :professional_development_funding, hint: "Source of funding and dollars"
  = f.input :other_allowances, hint: "Other allowances not listed"