/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require selectize/dist/css/selectize.bootstrap3
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker3
 *= require jquery-wizard/dist/css/wizard
 *= require_tree .
 *= require_self
 */
 @import "simple-line-icons";
 @import "bootstrap/scss/bootstrap"; 

 body {
  padding-top: 3.5rem;
  // font-family: 'Roboto', sans-serif;
  // font-size: 0.875rem;
  // background-color: #f9f9f9;
}
.form-control, .input-group-text {
	border-radius: 2px;
}

.close-card {
	position: absolute; top: 0; right: 0; font-size: 1.5rem;
}

.card-session-new {
	max-width: 25rem;
}
.card-edit-registration, .card-setup-request-edit, .card-employees-new {
	max-width: 40rem;
}


.selectize-input {
	border-color: #ced4da;
	line-height: 1.5;
	padding: 0.375rem 0.75rem;
	border-radius: 2px;
}

.tab-card {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.contract-logo {
	width: 84px;
}

label {
	// font-weight: bold;
}

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	a {
		color: #212529;
	}
}

.main-nav {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
}

.sturdy {
	width: 100%;
}

.sturdy td {
	padding: .75rem 0;
	vertical-align: top;
	p:last-child {
		// margin-bottom: 0;
	}
}

.sturdy td:nth-child(1) {
  width: 30%;
}
.sturdy td:nth-child(2) {
  width: 70%;
} 

 .alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}